@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Regular.otf');
}

@font-face {
    font-family: 'ClashDisplayMedium';
    src: url('../fonts/ClashDisplay-Medium.otf');
}



.clash {
    font-family: 'ClashDisplay', Fallback, sans-serif;
}
.clash-medium {
    font-family: 'ClashDisplayMedium', Fallback, sans-serif;
}

.link {
    position: relative;
    transition: color 300ms;
    flex: 1;
    height: 100%;
    padding: 24px;
}

.link::before {
    content: '';
    position: absolute;
    display: inline-block;
    inset: 0;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
    transition: transform 300ms;
}

.link:hover {
    font-weight: 500;
}

.link:hover::before {
    transform: scaleX(1);
}

.home::before{
    background: #FF6347;
}

.about::before{
    background: rgb(95, 174, 103);
}

.login::before{
    background: #f8da3d;
}

.signup::before{
    background: #bb60ff;
}

.divider {
    background: #000000;
    flex: none;
    height: 2px;
    margin: 40px 0px 0px;
    width: 100%;
    max-width: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 


.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    border-bottom: solid 2px #000
  }

  .service-item {
    border-top: solid 2px #000;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    border-right: solid 2px #000;
  }
  
  .service-item:nth-child(3n+1) {
    border-left: none;
  }

  .service-item:nth-child(3n+0) {
    border-right: none;
  }
  .service-item:nth-child(3n+3) {
    padding-bottom: 24px;
    border-bottom: 2px solid #000;
  }
  
  .tag {
    display: flex;
    align-items: center;
    gap: 12px;

  }
  
  .tag::before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #000000;
  }


  .modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 36px;
    border: 1px solid #888;
    width: 60%;
    display: flex;
    gap: 48px;
  }
  
  /* The Close Button */
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



.btn:hover {
    font-weight: 500;
    background: #000;
    transition: color 300ms;
    color: #fff ;
}

